{% extends 'base.html.twig' %}

{% block title %}Document{% endblock %}

{% block body %}
    <h1>Document</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ document.id }}</td>
            </tr>
            <tr>
                <th>Document</th>
                <td>{{ document.Document }}</td>
            </tr>
            <tr>
                <th>Timestamp</th>
                <td>{{ document.timestamp ? document.timestamp|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Id_type</th>
                <td>{{ document.idType }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('crud_index') }}">back to list</a>

    <a href="{{ path('crud_edit', {'id': document.id}) }}">edit</a>

    {{ include('crud/_delete_form.html.twig') }}
{% endblock %}
